<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let picture of pictureUpload;let i = index">
    <input id="file-upload+{{i}}" type="file" name=""  (change)="imageProgress($event,i)">

    <div>
    <button class=" btn btn-danger" (click)="removeImage(i)"> Remove</button>


  <div for="resetImage"   >
    <label for="file-upload+{{i}}" class="custom-file-upload">
      <img  [src]="picture" height="300" width="300" style="background: #ff9800e8;"/>

  </label>
</div>
</div>
</div>
</div>
